@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .dice-position {
        margin-top: 3px;
        top: 101%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
